// @import "bourbon/bourbon";
// @import "base/base";
// @import "base/base";
// @import "neat/neat";
// @import url('https://cdnjs.cloudflare.com/ajax/libs/ink/3.1.10/css/ink.min.css');
// @import url('http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css');
// @import url('//cdn.jsdelivr.net/pure/0.6.0/pure-min.css');
body {
	margin: 0 0;
    padding: 15px;
    background-color: #ececec;
}

.button-green {
    background-color: #09ba07!important;
    color: #fff!important;
}
input{
	border-radius: 0px!important;
}