.tab-nav{
	font-size: .9em;
    background-color: #ffffff;
    display: flex;
    text-align: center;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    margin-left: -15px;
}
.tab-nav .tab-nav-button{
	width: 50%;
	padding: 1.3em 0 0 0;
	color: gray;
}
.tab-nav .tab-nav-button.active, .tab-nav .tab-nav-button:hover{
	color: #28bc6e;
	border-bottom: #28bc6e 2px solid;
}
#TabContent{
	padding-top: 55px;
}
.ui.cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: -0.875em -0.5em;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    line-height: 1.2em;
}

.ui.cards .card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	margin: .6em 0.7em 0 0.7em;
    float: none;
}
.ui.cards .card, .ui.card {
    max-width: 100%;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 95px;
    background: #ffffff;
    padding: 0;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 2px rgba(39, 41, 43, 0.15) inset;
    -webkit-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
}
.ui.cards a,
.ui.cards a:hover,
.ui.cards a:active,
.ui.cards a.active {
    text-decoration: none;
    color: #333;
    display: block;
    height: 95px;
}
.ui.cards .useless,.ui.cards .useless a{
    height: 3em;
}
.ui.cards .useless-meta{
    font-size: 1.5em;
    text-align: center;
    padding: .7em;
}
.ui.cards .content, .ui.card .content {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: none;
    margin: 0;
    overflow: hidden;
    box-shadow: none;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    height: 95px;
}
.ui.cards .card a .content .card-img{
    height: 100%;
    float: left;
    margin-right: 15px;
}
.ui.cards .card .content img{
    height: 100%;
    overflow: hidden;
}

.ui.cards .description{
    clear:none;
}
.ui.cards .header:not(.ui){
    font-size: 1.3em;
    padding: .8em 0 .4em 0;
}
.ui.cards .header{
    font-style: bold;
}
.ui.cards .meta{
    color: red;
    font-size:12px;
}