@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
// @import "components/form";
// @import "components/button";
// @import "components/dropdown";
// @import "components/input";
// @import "semantic.min.css";
// @import "components/accordion";
// @import "components/ad";
// @import "components/breadcrumb";
// @import "components/card";
// @import "components/checkbox";
// @import "components/comment";
// @import "components/dimmer";
// @import "components/divider";
// @import "components/feed";
// @import "components/flag";
// @import "components/header";
// @import "components/image";
// @import "components/item";
// @import "components/label";
// @import "components/list";
// @import "components/table";
// @import "components/modal";
// @import "components/sidebar";
// #carCode{
// }
article {
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    @include clearfix;
    .left {
        float: left;
        .serial-number {
            color: #808080;
        }
    }
    .right {
        text-align: right;
        float: right;
        .date {
            color: #808080;
        }
    }
    div {
        margin-bottom: 0.5em;
        div:last-child {
            margin-bottom: 0px;
        }
    }
}
