@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "components/button";
@import "components/list";

body{
    background-color: #fff;
}
.content .title{
    @include span-columns(4);
    @include shift(1);
}

.content .value{
    @include span-columns(6);
}

.content .value.red{
    color: red;
}

.content .value.green{
    color: green;
}
p.hint{
    padding-top: 10px;
    font-size: 13px;
}
.ui.relaxed.list:not(.horizontal) > .item {
    padding-top: .8rem;
    padding-bottom: .8rem;
}