@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

article {
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    @include clearfix;
    .left {
        float: left;
        .serial-number {
            color: #808080;
        }
    }
    .right {
        text-align: right;
        float: right;
        .date {
            color: #808080;
        }
    }
    div {
        margin-bottom: 0.5em;
        div:last-child {
            margin-bottom: 0px;
        }
    }
}
