@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";
@import "components/button";

p {
    margin-bottom: 4em;
}

span{
	color: green;
}
.botton-white {
    border: 1px solid rgba(39, 41, 43, 0.15)!important;
    font-weight: normal!important;
    background-color: #fff!important;
    color: #000;
}

.ui.button.fluid {
    margin-bottom: 15px;
}
