body {
  margin: 0 0;
  padding: 15px;
  background-color: #ececec; }

.ui.button.button-green {
  background-color: #09ba07;
  color: #fff; }

.ui.button.button-gray {
  background-color: #999;
  color: #fff; }

input {
  border-radius: 0px !important; }
